/* отсюда */
*{
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
html{
    height: 100%;
    width: 100%
}
.wrapper{
    width: 80%; 
    max-width: 1200px; 
    min-width: 1200px;
    margin: auto;
    position: relative;
    margin-top: -10px;
    border:4px solid #f5f5f5;
    border-top: 0px solid #f5f5f5;
    border-left: 0px solid #f5f5f5;
    z-index: 200;
}

header{
    background-color: rgb(236, 71, 71);
    display: flex;
    align-items: center;
    height:35px;
    font-size: 18px;
    color:#ffffff;
    padding-left: 10px;

}
.LogoutPanel{
    display: flex;
    width: 450px;
    height: 100px;
    font-size: 40px;
    background: linear-gradient(to right, #e67070, #ef5350);
    border-bottom: 2px solid #a0a0a09c ;
}
.LogoutPanel>p{
    color:white;
}
.Name{
    top: 35px;
    left: 380px;
}
.Icon1{
    position: relative;
    top: 10px;
    left: 20px;
    border: 3px solid #ffffff;
    background:  #fff;
    border-radius: 100%;
    border-color: black;
    height: 75px;
    width: 75px;
}
.Icon2{
    position: relative;
    top: 20px;
    left: 270px;
    height: 75px;
    width: 75px;
}
.Icon2:hover{
    height: 80px;
    width: 80px;
    
}

.Navigation{
    background-color: #ffffff;
    width: 450px;
}
.Navigation2{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.Heart:hover{
    color:#ef5350;
}
.Search:hover{
    color:#ef5350;
}
.Message:hover{
    color:#ef5350;
}
.Movie:hover{
    color:#ef5350;
}
.Movie{
    border-bottom: 3px solid black;
}
.Favorites:hover{
    color:#ef5350;
}
/* до сюда копирую */ 


/* меню с фильтрами */
.content{
    background-color: #f5f5f5;
    list-style: none;
    width: 450px;
    height: 700px;
}
.content ul{
    z-index: 10;
    width:450px;
    padding-left: 0;
    padding-bottom: 0px;
}
.content ul li a{
    border-bottom: 1px solid #aaa;
    background: #f5f5f5;
    position: relative;
    top: -16px;
    padding: 0px 0 0 0px ;

}
.content ul li a{
    display:block;
    text-decoration: none;
    padding: 7px 5px;
    color:black;
    font-size: 40px;
}
.content ul li a:hover{
    background-color: #d8d6d6;
}
.content ul li ul{
    display:none;
    position:absolute;
    width: 435px;
    background-color: #f5f5f5;
    color: black;
}
.content ul li:hover ul{
    position: relative;
    top: 20px;
    display: flex;
    flex-wrap: wrap;   
    gap: 10px;
    padding-left: 15px; 
    border-bottom: 1px solid #9e9e9e;
    z-index: 30;
    font-size: 20px;
    margin-bottom: 28px; /* чтобы один блок не наезжал на другой */
}
.content ul li ul li a{
    font-size: 30px;
    width:fit-content;
    border:2px solid #9e9e9e;
    border-radius: 15px;
    font-size: 20px;
}

.content ul li ul li a:hover{
    border:2px solid #9e9e9e;
    border-radius: 15px;
    background:#FFEE58;
}

.mv_li {
    margin-top: 0;
    padding-left: 0;
}

.like_movie_li {
    display: flex;
    align-items: center;
    margin-top: 0;
    border-bottom: 1px solid #aaa;
}

.like_movie_li:hover {
    background: white;
    border-radius: 15px;
}

.like_movie_li .movie_photo_li {
    width: 20%;
    margin-right: 5px;
}

.like_movie_li .movie_describe_li{
    width: 80%;
    color: gray;
}

.like_movie_li .movie_describe_li .movie_name_li{
    font-size: 30px;
}

.like_movie_li .movie_describe_li .movie_data_li {
    font-size: 20px;
}

.like_movie_li .movie_describe_li .movie_rating_li {
    font-size: 30px;
}

.like_movie_li .movie_describe_li .movie_rating_li img{
    width: 30px;
    height: 30px;
    padding-left: 0;
    padding-top: 5px;
}

.like_movie_li img{
    padding-left: 10px;
    padding-top: 3px;
    width: 70px;
    height: 100px;
}

.flex_mv {
    display: flex;
}

.selected_movie{
    width: 62.6%;
    display: flex;
}

.movie_photo {
    align-content: flex-end;
    width: 225px;
    height: 350px;
}

.mv_pnl_btn {
    width: 30px;
    height: 30px;
}

.switch_menu {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
    justify-content: space-evenly;
    margin-bottom: 6px;
}

.movie_element {
    color: gray;
    font-size: 20px;
}

.bl {
    color: black;
}

.movie_data {
    width: 70%;
}

.movie_panel {
    width: 30%;
}

.movie_panel_li {
    background-color: #f5f5f5;
}

.movie_panel_btn {
    display: flex;
    border-bottom: 1px solid #aaa;
}

.movie_panel_btn:hover {
    background: white;
    border-radius: 15px;
}

.btn_name {
    font-size: 20px;
    margin-left: 5px;
}

.rating_block {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo {
    width: 50px;
    height: 50px;
}

.movie_name {
    color: black;
    text-align: left;
    font-size: 20px;
    margin-top: -24px;
    margin-left: 10px;
    margin-bottom: -10px;
}

.movie_retell {
    color: gray;
    font-size: 20px;
}

.select_option {
    color: gray;
    font-size: 25px;
}

.movie_describe {
    background: #f5f5f5;
}

.movie_text {
    padding-left: 10px;
    padding-top: 10px;
}

.rate {
    font-size: 40px;
    color: #4cad5e;
    padding-left: 10px;
}


/*Свайп картинок, позиция эя*/
.MoviePicture {
    position: relative;
    width: 350px; /* Такая же ширина, как у картинок */
    left: 50%;
    transform: translateX(-50%); /* Центрирование относительно родителя */
    top: 180px;
}

.Tinder{
    display: inline;
    position: absolute;
    top: 150px;
    left: 650px;
}
.Tinder img{
    border: 5px solid rgb(223, 221, 221);
    border-radius: 50px;
}
.Tinder:after {
	content: "";
    border: 5px solid rgb(223, 221, 221);
    border-radius: 50px;
	display: block;    
	width: 350px;
	height: 500px;    
	position: relative;
    top: -515px;
    left: 0px;
	background: transparent;
	background-image: linear-gradient( black, 40%, #ffffff00); /*ffffff00*/
	opacity: 0.9;
}

/*текст на картинке, позиция элементов вручную*/ 

.MovieName{
    color: white;
    font-weight: 500;
    top: 180px;
    left: 780px;
}
.Description{
    color: white;
    font-weight: 300;
    top: 160px;
    left: 765px;
}
.Rating{
    position: absolute;
    color: white;
    font-weight: 500;
    top: 200px;
    left: 810px;
    border: 2px solid green;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    background: green;
}
.MovieName,
.Description {
    text-align: center; /* Центрирование текста */
    position: absolute;
    left: 460px;
    right: 0;
}


/*кнопки к фильму */
.Action{
    position:absolute;
    display: flex;
    top:680px;
    left:700px;
}
.Action span{
    padding-left: 10px;
    padding-right: 10px;
}
.Action span i{
    border:5px solid #e0e0e0;
    border-radius: 80px;
    padding:5px;
}
.Heart2:hover{
    color:#e67070;
}
.Add:hover{
    color:#e67070;
}
.Cross{
    rotate:45deg;
}
.Cross:hover{
    rotate: 45deg;
    color:#e67070;
}